ul li {
  list-style-type: none;
}

ul li a {
  cursor: pointer;
}

.header {
  background-color: dodgerblue;
  padding: 20px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .heading {
  font-size: 20px;
  color: white;
}

.header ul {
  display: flex;
  align-items: center;
  margin: 0px;
  font-size: 14px;
  color: white;

}

.header ul li {
  margin-left: 20px;
}